#container{
display:grid ;
height: 150vh;
grid-template-areas: 
'hd hd hd hd'
'nv nv nv nv'
'as sec sec sec'
'as sec sec sec'
'ft ft ft ft';

margin: auto;
background-color: #FFFF;
padding: 3px;
grid-template-rows: 0.5fr 0.25fr 6fr 1fr 2fr;
gap: 2px;

}

header{
    grid-area: hd;
    background-color: #efd5f9;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;

}

#title{
    margin-left: 1%;
   
}

#search{
    width: 30px;
    height: 30px;
}

.frame{
    padding-left: 0cm;
}


h1{
    color:  #6d0197;
    padding: 5px;
    margin-left: 80px;
    font-size: 55px;
    
}

h2{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 25px;
}

#kontakth2{
    margin-left: 0px;
}
nav{
    grid-area: nv;
    background-color: #efd5f9;
    color: black;
}


section{
    grid-area: sec;
    background-color: #ffffff;

    
}

aside{
    grid-area: as;
    background-color:#efd5f9;
    width: 250px;
}


Footer{
    grid-area: ft;
    background-color: #efd5f9;
}

nav a:hover {
color: #ffffff;
}

.nav{
    border: 2px;
    display: flex;
    align-items: stretch;
    font-size: 25px;
    color: black;
    
}


.nav div{
    width: 285px;
    height: 50px;
    background-color:#efd5f9;
    border-radius: 5px;
    gap: 5px;
    text-align: center;
    line-height: 50px;
    color: black;
}



input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    margin-left: 0px;
    

}

a{
    color: black;
    text-decoration: dashed;
    font-size: 20px;
}

#img2{
    width: 550px;
    height: 550px;
}

#varukorg{
    width: 50px;
    height: 50px;
    color: white;
}

#h3{
    border: 100px solid #8c29b3 ;
    text-align: center;
    width: 200px;
    height: 180px;
    margin-left: 650px;
    margin-top: 100px;
    background-color: #8c29b3;
    font-size: 40px;
    color: white;
}

h4{
    border:40px solid #efd5f9;
    background-color: #efd5f9;
    margin-top: 0px;
    font-size: 25px;
}

.footer{
    border: 100px;
    display: flex;
    align-items: stretch;
    font-size: 20px;
    color: black;
}

.footer div{
    width: 500px;
}

ul{
    list-style-type: none;
}

.footerp{
    padding: 20px;
    gap: 5px;
}


#kontakta_oss{
    margin-right: 20%;
    padding-right: 450px;
}


.student{
    font-family: Arial;
    margin: 0;
    padding: 15px;
    gap: 5px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;

}

.card{
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: 30px;
    text-align: center;
    padding: 15px;
    width: 200px;
    height: 250px;
    box-shadow: 0 2px 5px black;

}


.card:hover{
    transform: scale(1.05);
}

.card img{
    height: 100px;
    width: 100px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;

}

.card h3{
    font-size: 15px;
    margin-bottom: 10px;
    color: #000;
}

.card p{
    font-size: 10px;
    margin: 10px 0;
    color: #8c29b3;
}

.card button{
background-color:#8c29b3 ;
color: white;
border: none;
padding: 10px 20px;
border-radius: 3px;
font-size: 15px;
}

.top_pick{
    border: 50px;
    padding-bottom: 95%;
    height: 30px;
    width: 30px;
    list-style-type: none;

}
.card button:hover{
    background-color: #cfa0e0;
}


.container2{
    display:grid ;
    height: 150vh;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'sec sec sec sec'
    'sec sec sec sec'
    'ft ft ft ft';
    
    margin: auto;
    background-color: #efd5f9;
    
    padding: 3px;
    grid-template-rows: 1fr 0.5fr 6fr 1fr 2fr;
    gap: 2px;

}

#h4sida3{
    border: 2px dashed rgb(75, 15, 81);
    text-align: center;
    width: 450px;
    height: 190px;
    background-color: rgb(234, 213, 236);
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}


#h5sida3:hover{
    background-color: #cfa0e0;
}

#h3först{
    font-size: 25px;
    color: #8c29b3;
}

.genrer{
    padding: 10px;
    gap: 10px;
    width: 130px;
}

.genrer:hover{
    color: #6d0197;
    border: 1px solid;
    border-radius: 200px;
    padding: 10px;
}

.h3sida2{
    padding: 30px;
    gap: 10px;
}

#uploadikon{
    margin-right: 100px;
}

.skickabutton{
    background-color:#8c29b3 ;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 425px;
    }

.skickabutton:hover{
    background-color: #cfa0e0;
}

li:hover{
    color: #FFFF;
}


#logo{
    width: 100px;
    height: 100px;
    padding: 15px;
}